body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 1em;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

a:link, a:visited, a:active, a:hover { color: #333; }

a:hover { background-color: #c7d1d6; }

input {
    width: 300px;
}

input[type=submit] {
    width: 120px;
}

label {
    display: block;
    margin-right: 10px;
}

h1, h2 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 { font-size: 2em; }

h2 { font-size: 1.75em; }